@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

  height: 100vh;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../image/mark_koujichu.png");
  background-color: #bbb;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90vh
}

h1, p {
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);

  margin: 0;

  text-align: center;
}

h1 {
  font-size: 20vw;
}

p {
  font-size: 8vw;
}
